In [7]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import pandas as pd

In [39]:
df = pd.read_excel('../titanic.xls')
df.drop(['body','name'],axis=1,inplace=True)
df.fillna(0,inplace=True)
print(df.head())

   pclass  survived     sex      age  sibsp  parch  ticket      fare    cabin  \
0       1         1  female  29.0000      0      0   24160  211.3375       B5
1       1         1    male   0.9167      1      2  113781  151.5500  C22 C26
2       1         0  female   2.0000      1      2  113781  151.5500  C22 C26
3       1         0    male  30.0000      1      2  113781  151.5500  C22 C26
4       1         0  female  25.0000      1      2  113781  151.5500  C22 C26

  embarked boat                        home.dest
0        S    2                     St Louis, MO
1        S   11  Montreal, PQ / Chesterville, ON
2        S    0  Montreal, PQ / Chesterville, ON
3        S    0  Montreal, PQ / Chesterville, ON
4        S    0  Montreal, PQ / Chesterville, ON

In [42]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_val = {}
        def convert_to_int(val):
            return text_digit_val[val]
        
        if df[column].dtype !=np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_val:
                    text_digit_val[unique] =x
                    x+=1
                    
            df[column] = list(map(convert_to_int,df[column]))
    return df

In [44]:
df = handle_non_numerical_data(df)
print(df.head())

   pclass  survived  sex      age  sibsp  parch  ticket      fare  cabin  \
0       1         1    1  29.0000      0      0     739  211.3375     91
1       1         1    0   0.9167      1      2     506  151.5500    110
2       1         0    1   2.0000      1      2     506  151.5500    110
3       1         0    0  30.0000      1      2     506  151.5500    110
4       1         0    1  25.0000      1      2     506  151.5500    110

   embarked  boat  home.dest
0         0     2          5
1         0     3        267
2         0     0        267
3         0     0        267
4         0     0        267

In [46]:
X = np.array(df.drop(['survived'], axis= 1).astype(float))
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

KMeans(n_clusters=2)